[workspace]
members = [
  "actix-cors",
  "actix-identity",
  "actix-protobuf",
  "actix-protobuf/examples/prost-example",
  "actix-redis",
  "actix-session",
  "actix-web-httpauth",
]

[patch.crates-io]
actix-session = { path = "actix-session" }
