[workspace]
resolver = "2"
members = [
    "actix-cors",
    "actix-identity",
    "actix-limitation",
    "actix-protobuf",
    "actix-redis",
    "actix-session",
    "actix-web-httpauth",
]

[patch.crates-io]
actix-cors = { path = "./actix-cors" }
actix-identity = { path = "./actix-identity" }
actix-limitation = { path = "./actix-limitation" }
actix-protobuf = { path = "./actix-protobuf" }
actix-redis = { path = "./actix-redis" }
actix-session = { path = "./actix-session" }
actix-web-httpauth = { path = "./actix-web-httpauth" }

# uncomment to quickly test against local actix-web repo
# actix-http = { path = "../actix-web/actix-http" }
# actix-router = { path = "../actix-web/actix-router" }
# actix-web = { path = "../actix-web" }
# awc = { path = "../actix-web/awc" }
