[package]
name = "actix-web-httpauth"
version = "0.6.0-beta.4"
authors = [
    "svartalf <self@svartalf.info>",
    "Yuki Okushi <huyuumi.dev@gmail.com>",
]
description = "HTTP authentication schemes for Actix web"
keywords = ["http", "web", "framework", "authentication", "security"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix-extras.git"
categories = ["web-programming::http-server"]
license = "MIT OR Apache-2.0"
edition = "2018"

[lib]
name = "actix_web_httpauth"
path = "src/lib.rs"

[dependencies]
actix-service = "2.0.0"
actix-utils = "3"
actix-web = { version = "4.0.0-beta.14", default_features = false }

base64 = "0.13"
futures-util = { version = "0.3.7", default-features = false }
futures-core = { version = "0.3.7", default-features = false }
pin-project-lite = "0.2.7"

[dev-dependencies]
actix-cors = "0.6.0-beta.5"
actix-rt = "2"
