[package]
name = "actix-cors"
version = "0.2.0"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Cross-origin resource sharing (CORS) for actix-web applications."
readme = "README.md"
keywords = ["cors", "web", "framework"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix-extras.git"
documentation = "https://docs.rs/actix-cors/"
license = "MIT/Apache-2.0"
edition = "2018"

[lib]
name = "actix_cors"
path = "src/lib.rs"

[dependencies]
actix-web = "2.0.0"
actix-service = "1.0.1"
derive_more = "0.99.2"
futures-util = { version = "0.3.4", default-features = false }

[dev-dependencies]
actix-rt = "1.0.0"
