[package]
name = "actix-redis"
version = "0.9.1"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Redis integration for Actix web"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["actix", "redis", "async", "session"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix-extras.git"
documentation = "https://docs.rs/actix-redis/"
categories = ["network-programming", "asynchronous"]
exclude = [".cargo/config"]
edition = "2018"

[lib]
name = "actix_redis"
path = "src/lib.rs"

[features]
default = ["web"]

# actix-web integration
web = [
    "actix-service",
    "actix-web",
    "actix-session/cookie-session",
    "rand",
    "serde",
    "serde_json"
]

[dependencies]
actix = { version = "0.11.0-beta.2", default-features = false }
actix-rt = "2"
actix-utils = "3.0.0-beta.2"

log = "0.4.6"
backoff = "0.2.1"
derive_more = "0.99.2"
futures-core = { version = "0.3.7", default-features = false }
redis2 = { package = "redis", version = "0.19.0", features = ["tokio-comp", "tokio-native-tls-comp"] }
redis-async = { version = "0.8", default-features = false, features = ["tokio10"] }
time = "0.2.9"
tokio = { version = "1", features = ["sync"] }
tokio-util = "0.6.1"

# actix-session
actix-web = { version = "4.0.0-beta.3", default_features = false, optional = true }
actix-http = { version = "3.0.0-beta.3", optional = true }
actix-service = { version = "2.0.0-beta.4", optional = true }
actix-session = { version = "0.4.0", optional = true }
rand = { version = "0.8.0", optional = true }
serde = { version = "1.0.101", optional = true }
serde_json = { version = "1.0.40", optional = true }

[dev-dependencies]
env_logger = "0.7"
serde_derive = "1.0"
