[package]
name = "actix-redis"
version = "0.10.0-beta.1"
authors = ["Nikolay Kim <fafhrd91@gmail.com>"]
description = "Redis integration for Actix and session store for Actix Web"
license = "MIT OR Apache-2.0"
readme = "README.md"
keywords = ["actix", "redis", "async", "session"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix-extras.git"
documentation = "https://docs.rs/actix-redis/"
categories = ["network-programming", "asynchronous"]
exclude = [".cargo/config"]
edition = "2018"

[lib]
name = "actix_redis"
path = "src/lib.rs"

[features]
default = ["web"]

# actix-web integration
web = [
    "actix-web/cookies",
    "actix-web/secure-cookies",
    "actix-session/cookie-session",
    "rand",
    "serde",
    "serde_json"
]

[dependencies]
actix = { version = "0.11.0", default-features = false }
actix-rt = { version = "2.1", default-features = false }
actix-service = "2.0.0-beta.5"
actix-tls = { version = "3.0.0-beta.5", default-features = false, features = ["connect"] }

log = "0.4.6"
backoff = "0.3.0"
derive_more = "0.99.2"
futures-core = { version = "0.3.7", default-features = false }
redis2 = { package = "redis", version = "0.20.0", features = ["tokio-comp", "tokio-native-tls-comp"] }
redis-async = { version = "0.9.2", default-features = false, features = ["tokio10"] }
time = "0.2.23"
tokio = { version = "1", features = ["sync"] }
tokio-util = "0.6.1"

# actix-session
actix-web = { version = "4.0.0-beta.6", default_features = false, optional = true }
actix-session = { version = "0.5.0-beta.1", optional = true }
rand = { version = "0.8.0", optional = true }
serde = { version = "1.0.101", optional = true }
serde_json = { version = "1.0.40", optional = true }

[dev-dependencies]
actix-test = "0.1.0-beta.1"
actix-http = "3.0.0-beta.5"
actix-rt = "2.1"
env_logger = "0.8"
serde_derive = "1.0"
