[package]
name = "actix-protobuf"
version = "0.5.0"
edition = "2018"
authors = ["kingxsp <jin.hb.zh@outlook.com>, Yuki Okushi <huyuumi.dev@gmail.com>"]
description = "Protobuf support for actix-web framework."
readme = "README.md"
keywords = ["actix"]
homepage = "https://github.com/actix/actix-protobuf"
license = "MIT/Apache-2.0"
exclude = [".gitignore", ".travis.yml", ".cargo/config",
           "appveyor.yml", "/examples/**"]

[badges]
travis-ci = { repository = "actix/actix-protobuf", branch = "master" }
codecov = { repository = "actix/actix-protobuf", branch = "master", service = "github" }

[lib]
name = "actix_protobuf"
path = "src/lib.rs"

[dependencies]
bytes = "0.5"
futures = "0.3.1"
derive_more = "0.99"

actix = "0.9"
actix-rt = "1"
actix-web = "2"

prost = "0.6.0"

[dev-dependencies]
prost-derive = "0.6.0"

[workspace]
members = [
  "./",
  "examples/prost-example",
]
