[package]
name = "actix-protobuf"
version = "0.6.0"
edition = "2018"
authors = [
    "kingxsp <jin.hb.zh@outlook.com>",
    "Yuki Okushi <huyuumi.dev@gmail.com>"
]
description = "Protobuf support for Actix web"
readme = "README.md"
keywords = ["actix", "protobuf", "protocol", "rpc"]
homepage = "https://github.com/actix/actix-extras"
repository = "https://github.com/actix/actix-extras.git"
license = "MIT OR Apache-2.0"
exclude = [".cargo/config", "/examples/**"]

[lib]
name = "actix_protobuf"
path = "src/lib.rs"

[dependencies]
actix-web = { version = "3.0.0", default_features = false }
actix-rt = "1.1.1"
bytes = "0.5"
futures-util = { version = "0.3.5", default-features = false }
derive_more = "0.99"
prost = "0.6.0"

[dev-dependencies]
prost-derive = "0.6.0"
