[package]
name = "actix-protobuf"
version = "0.7.0-beta.4"
edition = "2018"
authors = [
    "kingxsp <jin.hb.zh@outlook.com>",
    "Yuki Okushi <huyuumi.dev@gmail.com>"
]
description = "Protobuf support for Actix web"
keywords = ["actix", "protobuf", "protocol", "rpc"]
homepage = "https://actix.rs"
repository = "https://github.com/actix/actix-extras.git"
license = "MIT OR Apache-2.0"
exclude = [".cargo/config", "/examples/**"]

[lib]
name = "actix_protobuf"
path = "src/lib.rs"

[dependencies]
actix-rt = "2"
actix-web = { version = "4.0.0-beta.17", default_features = false }
derive_more = "0.99.5"
futures-util = { version = "0.3.7", default-features = false }
prost = { version = "0.9", default_features = false }

[dev-dependencies]
prost = { version = "0.9", default_features = false, features = ["prost-derive"] }
