name: Lint

on: [pull_request]

permissions:
  contents: read # to fetch code (actions/checkout)

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  fmt:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        run: |
          rustup override set nightly
          rustup update nightly
          rustup component add rustfmt
      - name: Check with rustfmt
        run: cargo fmt --all -- --check

  clippy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Rust
        run: |
          rustup override set stable
          rustup update stable
          rustup component add rustfmt
      - name: Check with Clippy
        run: cargo clippy --workspace --tests --all-features
